<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon"
        href="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Pokebola-pokeball-png-0.png/601px-Pokebola-pokeball-png-0.png">
    <link rel="stylesheet" href="static\style.css">

    <script defer src="/static/script.js"></script>

    <title>Pokedéx</title>
</head>

<body>
    <main>
        <img src="" alt="pokemon" class="pokemon_image">

        <h1 class="pokemon_data">
            <span class="pokemon_number"></span> -
            <span class="pokemon_name"></span>
        </h1>

        <form class="form">
            <input type="search" class="input_search" placeholder="Nome ou Numero" required>


        </form>

        <div class="buttons">
            <button class="button btn-prev"> &lt;&lt;</button>
            <button class="button btn-next">&gt;&gt;</button>
        </div>

        <img src="https://media.discordapp.net/attachments/837122788179443792/1185709039968063498/pokedex.png"
            alt="pokedex" class="pokedex">

    </main>
</body>

</html>